<form action="">
  <div class="form-group">
    <label for="length"></label>
    <input type="text" name="length">
    <label for="width"></label>
    <input type="text" name="width">
    <label for="height"></label>
    <input type="text" name="height">
  </div>
</form>
